@import "~bulma/css/bulma.css";

body {
  font-family: "Arial", sans-serif;
}

.button.is-primary:hover {
  background-color: hsl(171, 100%, 36%);
  color: #fff;
}

p {
  color: black;
}

.title-container .title{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: 3px;
  font-size: 35px;
}
