.radio-input {
  display: flex;
  flex-direction: row;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 8px;
  transition: background-color 0.3s, border-color 0.3s;
}

.radio-input input {
  display: none;
}

.radio-input .icon {
  margin-right: 8px;
  font-size: 24px;
}

.radio-input.active {
  background-color: #9d9d9d;
  color: black;
}

.radio-input:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}
